In [4]:
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
from parse import preprocess

In [5]:
# Load the needed dataset by parsing from original dataset
data = preprocess("rawfile_blood.csv")

robust          368
prefrail_mci    268
prefrail        250
mci             142
frail_mci        86
frail             9
Name: condition, dtype: int64

####################################################################
Number of Rows of Dataframe:
1123
Number of Columns of Dataframe:
59

####################################################################
Threshold for number of NULLs in a column: 0.1095
Number of Columns before Parsing for Too Many NULLs in a column:
59
Number of Columns after Parsing for Too Many NULLs in a column:
51

Columns Removed:
B1_b5
B4_a1
B4_a3
B4_a4
B4_a6
B4_b1
B4_b3
B5_a1

####################################################################
Number of Columns after dropping A1_2, B1_b4, B2_c3, B4_b2 for inconsistent data types:
47

####################################################################
Number of Rows before Parsing NULLs in data:
1123
Number of Rows after Parsing NULLs in data:
1015

In [6]:
# Step 1: Understanding the Data

In [7]:
# Shows the first 5 rows of the dataset
data.head()

,mtag,condition,A1_1,A2_1,A3_1,B1_a,B1_a1,B1_a2,B1_a3,B1_a4,...,B2_d6,B2_d7,B2_d8,B2_d9,B3,B4_a2,B4_a5,B5_a2,B5_a3,B6
0,ME02646,frail,196,24,46.5,121,3.93,0.37,95,31,...,7,12,13,6,0.2,6.0,1.011,1.14,4.1,5.9
1,ME03109,frail,200,23,55.6,142,4.82,0.42,87,30,...,7,20,17,26,3.1,5.0,1.011,3.25,4.6,8.5
2,ME06997,frail,441,20,76.8,105,4.54,0.41,90,30,...,5,16,19,15,1.4,7.0,1.023,2.14,4.0,6.4
3,ME07149,frail,265,16,47.2,122,4.53,0.39,86,27,...,8,24,19,21,2.1,5.5,1.012,1.06,4.7,6.1
4,ME07700,frail,425,14,31.3,124,4.44,0.38,85,28,...,6,20,23,23,6.0,5.5,1.013,1.95,3.8,5.8

In [8]:
# Shows last 5 rows of the dataset
data.tail()

,mtag,condition,A1_1,A2_1,A3_1,B1_a,B1_a1,B1_a2,B1_a3,B1_a4,...,B2_d6,B2_d7,B2_d8,B2_d9,B3,B4_a2,B4_a5,B5_a2,B5_a3,B6
1010,MV00454,robust,220,19,67.5,138,4.66,0.42,91,30,...,20,10,17,8,6.6,7.0,1.015,1.29,4.5,6.2
1011,MV00456,robust,334,18,51.0,139,4.63,0.42,91,30,...,16,22,35,40,1.0,6.0,1.015,1.88,3.9,5.6
1012,MV00460,robust,418,17,61.0,122,4.18,0.38,90,29,...,19,20,23,15,0.4,6.5,1.005,3.58,4.0,5.6
1013,MV00502,robust,393,18,43.1,136,4.57,0.43,94,30,...,13,11,22,23,0.7,7.0,1.009,0.92,4.1,6.0
1014,MV00510,robust,371,24,55.9,127,4.41,0.40,90,29,...,13,14,16,12,7.5,8.0,1.017,2.45,4.5,6.2

In [10]:
# Shows the (Row, Column) of the dataset
data.shape

(1015, 47)

In [11]:
# Shows the count, mean, std dev, min, quartiles, and max for numerical columns of the dataset
data.describe()

,A1_1,A2_1,A3_1,B1_a,B1_a1,B1_a2,B1_a3,B1_a4,B1_a5,B1_a6,...,B2_d6,B2_d7,B2_d8,B2_d9,B3,B4_a2,B4_a5,B5_a2,B5_a3,B6
count,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,...,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.00000,1015.000000
mean,407.066010,17.761576,52.306079,137.189163,4.716271,0.415409,88.259113,29.145813,329.933990,13.846700,...,13.013793,30.331034,24.074877,23.375369,3.587882,6.140197,1.014097,1.944725,4.68335,6.300000
std,195.315621,6.316309,19.387415,17.139516,0.545034,0.040204,6.883710,2.525690,12.189844,1.109919,...,5.286077,30.053679,8.875220,13.268803,7.017369,0.758983,0.032523,3.270280,0.58251,1.233866
min,104.000000,1.000000,4.070000,75.000000,0.004720,0.260000,54.000000,19.000000,289.000000,11.600000,...,2.000000,4.000000,10.000000,5.000000,0.050000,4.500000,0.000000,0.001000,2.20000,4.500000
25%,280.000000,14.000000,39.100000,128.000000,4.400000,0.390000,86.000000,28.000000,322.000000,13.100000,...,9.000000,16.000000,19.000000,16.000000,0.400000,5.500000,1.010000,0.995000,4.40000,5.600000
50%,362.000000,17.000000,51.200000,136.000000,4.700000,0.420000,90.000000,30.000000,329.000000,13.600000,...,12.000000,22.000000,22.000000,20.000000,1.300000,6.000000,1.015000,1.510000,4.70000,5.900000
75%,474.500000,20.000000,63.450000,146.000000,5.010000,0.440000,92.000000,31.000000,338.000000,14.300000,...,15.000000,32.000000,26.000000,27.000000,4.100000,6.500000,1.020000,2.280000,5.00000,6.400000
max,1476.000000,95.000000,159.000000,413.000000,7.850000,0.630000,105.000000,35.000000,378.000000,19.700000,...,57.000000,374.000000,119.000000,238.000000,105.900000,8.500000,1.044000,96.580000,9.90000,15.100000

In [12]:
# Shows the columns in the dataset
data.columns

Index(['mtag', 'condition', 'A1_1', 'A2_1', 'A3_1', 'B1_a', 'B1_a1', 'B1_a2',
       'B1_a3', 'B1_a4', 'B1_a5', 'B1_a6', 'B1_b', 'B1_b1', 'B1_b2', 'B1_b3',
       'B1_c', 'B1_d', 'B2_a1', 'B2_a2', 'B2_a3', 'B2_a4', 'B2_a5', 'B2_b1',
       'B2_b2', 'B2_b3', 'B2_c1', 'B2_c2', 'B2_c4', 'B2_c5', 'B2_c6', 'B2_c7',
       'B2_d1', 'B2_d2', 'B2_d3', 'B2_d4', 'B2_d5', 'B2_d6', 'B2_d7', 'B2_d8',
       'B2_d9', 'B3', 'B4_a2', 'B4_a5', 'B5_a2', 'B5_a3', 'B6'],
      dtype='object')

In [13]:
# Shows the number of unique values in each column
data.nunique()

mtag         1015
condition       6
A1_1          483
A2_1           44
A3_1          538
B1_a           89
B1_a1         230
B1_a2          30
B1_a3          49
B1_a4          17
B1_a5          70
B1_a6          64
B1_b          101
B1_b1          73
B1_b2          45
B1_b3          17
B1_c          250
B1_d           96
B2_a1          63
B2_a2         232
B2_a3         192
B2_a4         345
B2_a5          57
B2_b1          21
B2_b2          28
B2_b3          21
B2_c1          95
B2_c2         125
B2_c4          55
B2_c5          55
B2_c6          44
B2_c7          85
B2_d1          33
B2_d2          21
B2_d3          31
B2_d4          16
B2_d5         110
B2_d6          35
B2_d7         111
B2_d8          53
B2_d9          67
B3            158
B4_a2          10
B4_a5          35
B5_a2         374
B5_a3          44
B6             69
dtype: int64

In [17]:
data['condition'].unique()

array(['frail', 'frail_mci', 'mci', 'prefrail_mci', 'prefrail', 'robust'],
      dtype=object)

In [18]:
from collections import Counter
print(Counter(data['condition']))

Counter({'robust': 343, 'prefrail_mci': 233, 'prefrail': 223, 'mci': 133, 'frail_mci': 76, 'frail': 7})

## Notes from "Understanding the Data"
* The project is focused on blood-based parameters. From the complete dataset, we take the blood-based parameter columns as features
* The 'condition' column is the dataset label, with the blood-based parameter columns as the features. MTAG is merely the patient ID and serves no purpose in classification
* The dataset consists of 1015 rows. Dataset is considered not too big and not too small
* Counting the labels of the dataset, it is found that there is a heavy class imbalance (Robust having 343 samples, Frail having 7 samples)

In [19]:
# Step 2: Clean the Data

In [20]:
# Check for NULL values
data.isnull().sum()

mtag         0
condition    0
A1_1         0
A2_1         0
A3_1         0
B1_a         0
B1_a1        0
B1_a2        0
B1_a3        0
B1_a4        0
B1_a5        0
B1_a6        0
B1_b         0
B1_b1        0
B1_b2        0
B1_b3        0
B1_c         0
B1_d         0
B2_a1        0
B2_a2        0
B2_a3        0
B2_a4        0
B2_a5        0
B2_b1        0
B2_b2        0
B2_b3        0
B2_c1        0
B2_c2        0
B2_c4        0
B2_c5        0
B2_c6        0
B2_c7        0
B2_d1        0
B2_d2        0
B2_d3        0
B2_d4        0
B2_d5        0
B2_d6        0
B2_d7        0
B2_d8        0
B2_d9        0
B3           0
B4_a2        0
B4_a5        0
B5_a2        0
B5_a3        0
B6           0
dtype: int64

In [23]:
data = data.drop(['mtag'], axis=1)

data.columns

Index(['condition', 'A1_1', 'A2_1', 'A3_1', 'B1_a', 'B1_a1', 'B1_a2', 'B1_a3',
       'B1_a4', 'B1_a5', 'B1_a6', 'B1_b', 'B1_b1', 'B1_b2', 'B1_b3', 'B1_c',
       'B1_d', 'B2_a1', 'B2_a2', 'B2_a3', 'B2_a4', 'B2_a5', 'B2_b1', 'B2_b2',
       'B2_b3', 'B2_c1', 'B2_c2', 'B2_c4', 'B2_c5', 'B2_c6', 'B2_c7', 'B2_d1',
       'B2_d2', 'B2_d3', 'B2_d4', 'B2_d5', 'B2_d6', 'B2_d7', 'B2_d8', 'B2_d9',
       'B3', 'B4_a2', 'B4_a5', 'B5_a2', 'B5_a3', 'B6'],
      dtype='object')

In [24]:
data.head()

,condition,A1_1,A2_1,A3_1,B1_a,B1_a1,B1_a2,B1_a3,B1_a4,B1_a5,...,B2_d6,B2_d7,B2_d8,B2_d9,B3,B4_a2,B4_a5,B5_a2,B5_a3,B6
0,frail,196,24,46.5,121,3.93,0.37,95,31,324,...,7,12,13,6,0.2,6.0,1.011,1.14,4.1,5.9
1,frail,200,23,55.6,142,4.82,0.42,87,30,346,...,7,20,17,26,3.1,5.0,1.011,3.25,4.6,8.5
2,frail,441,20,76.8,105,4.54,0.41,90,30,330,...,5,16,19,15,1.4,7.0,1.023,2.14,4.0,6.4
3,frail,265,16,47.2,122,4.53,0.39,86,27,313,...,8,24,19,21,2.1,5.5,1.012,1.06,4.7,6.1
4,frail,425,14,31.3,124,4.44,0.38,85,28,329,...,6,20,23,23,6.0,5.5,1.013,1.95,3.8,5.8